In [2]:

! pip install sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in c:\users\201077405\appdata\roaming\python\python312\site-packages (2.0.37)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\201077405\appdata\roaming\python\python312\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\201077405\appdata\roaming\python\python312\site-packages (from sqlalchemy) (4.12.2)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [41]:
import pandas as pd
import pyodbc
from sqlalchemy import create_engine,values,VARCHAR,NUMERIC,INTEGER,DATE,DATETIME,String

server= 'AAD-BRJ218XTJ9'
database='Bndes'

agora = ('DRIVER={SQL Server};'
            f'SERVER={server};'
            f'DATABASE={database};'
            'Trusted_Connection=yes;'
        )

engine = create_engine(f'mssql+pyodbc:///?odbc_connect={agora}')


query = '''  

 SELECT TOP (1000) [Id]
      ,[Efetividade]
      ,[Nivel_explosao]
      ,[N_item]
      ,[Componente]
      ,[Descricao_componente]
      ,[Qtd_componente]
      ,[UM_basica]
      ,[Fluxo_logistico]
  FROM [Bndes].[dbo].[Tabela_BOM] '''

df = pd.read_sql_query(query,engine)

engine.dispose()
df.head()

Empty DataFrame
Columns: [Id, Efetividade, Nivel_explosao, N_item, Componente, Descricao_componente, Qtd_componente, UM_basica, Fluxo_logistico]
Index: []

In [36]:
import pandas as pd
import pyodbc
from sqlalchemy import create_engine,values,VARCHAR,NUMERIC,INTEGER,DATE,DATETIME,String,text

server= 'AAD-BRJ218XTJ9'
database='Bndes'

agora = ('DRIVER={SQL Server};'
            f'SERVER={server};'
            f'DATABASE={database};'
            'Trusted_Connection=yes;'
        )

engine = create_engine(f'mssql+pyodbc:///?odbc_connect={agora}')

delete = text("""  

truncate table[Bndes].[dbo].[Tabela_BOM]

  """)

cursor = engine.connect()
cursor.execute(delete)
cursor.commit()
cursor.close()

# df.to_sql(name= tabela_destino,con=engine,if_exists='replace' ,index=False)
engine.dispose()

In [52]:
import pandas as pd
import pyodbc


# {ODBC Driver 17 for SQL Server}
# {SQL Server Native Client 11.0}
server ='AAD-BRJ218XTJ9'
database ='Bndes'
conexaoBD = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                           f'SERVER={server};'
                           f'DATABASE={database};'
                           'Trusted_Connection=yes;')

cursor = conexaoBD.cursor()

In [ ]:
import pandas as pd
import pyodbc
from sqlalchemy import create_engine,values


# cursor.execute(delete)


lista_tec = pd.read_excel(r"C:\\Users\\201077405\\Documents\\Projetos\\New_Sistema\\Cargas_Dados\\Carga_de_testes\\BOM.xlsx")

server= 'AAD-BRJ218XTJ9'
database='Bndes'

agora = ('DRIVER={SQL Server};'
            f'SERVER={server};'
            f'DATABASE={database};'
            'Trusted_Connection=yes;'
        )

engine = create_engine(f'mssql+pyodbc:///?odbc_connect={agora}')


def carga():
    for index, linha  in lista_tec.iterrows():
        cursor.execute("Insert into [Bndes].[dbo].[Tabela_BOM](Efetividade,Nivel_explosao,N_item,Componente,Descricao_componente,Qtd_componente,UM_basica,Fluxo_logistico)values(?,?,?,?,?,?,?,?)",
                       linha.Efetividade,
                       linha.Nivel_explosao,
                       linha.N_item,
                       linha.Componente,
                       linha.Descricao_componente,
                       linha.Qtd_componente,
                       linha.UM_basica,
                       linha.Fluxo_logistico,

                       )
        cursor.commit()

carga()

cursor.commit()
cursor.close()

query = '''   select 'Carga feita com sucesso !' '''

df = pd.read_sql_query(query,engine)
engine.dispose()
df.head()

0  Carga feita com sucesso !

In [57]:
import pandas as pd
import pyodbc
from sqlalchemy import create_engine,values,VARCHAR,NUMERIC,INTEGER,DATE,DATETIME,String,text

lista_tec = pd.read_excel(r"C:\\Users\\201077405\\Documents\\Projetos\\New_Sistema\\Cargas_Dados\\Carga_de_testes\\BOM.xlsx")

server= 'AAD-BRJ218XTJ9'
database='Bndes'

conexaoBD = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                           f'SERVER={server};'
                           f'DATABASE={database};'
                           'Trusted_Connection=yes;')

cursor = conexaoBD.cursor()

agora = ('DRIVER={SQL Server};'
            f'SERVER={server};'
            f'DATABASE={database};'
            'Trusted_Connection=yes;'
        )

engine = create_engine(f'mssql+pyodbc:///?odbc_connect={agora}')

delete = text("""  

truncate table[Bndes].[dbo].[Tabela_BOM]

  """)

cursor02 = engine.connect()
cursor02.execute(delete)
cursor02.commit()
cursor02.close()



def carga():
    
    for index, linha  in lista_tec.iterrows():
        
        cursor.execute("Insert into [Bndes].[dbo].[Tabela_BOM](Efetividade,Nivel_explosao,N_item,Componente,Descricao_componente,Qtd_componente,UM_basica,Fluxo_logistico)values(?,?,?,?,?,?,?,?)",
                       linha.Efetividade,
                       linha.Nivel_explosao,
                       linha.N_item,
                       linha.Componente,
                       linha.Descricao_componente,
                       linha.Qtd_componente,
                       linha.UM_basica,
                       linha.Fluxo_logistico,

                       )
        cursor.commit()
    

carga()


cursor.commit()
cursor.close()

query = '''   select 'Carga feita com sucesso !' '''

df = pd.read_sql_query(query,engine)
engine.dispose()
df.head()

0  Carga feita com sucesso !