In [3]:
import pandas as pd
import pyodbc


# {ODBC Driver 17 for SQL Server}
# {SQL Server Native Client 11.0}
server ='AAD-BRJ218XTJ9'
database ='Bndes'

conexaoBD = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                           f'SERVER={server};'
                           f'DATABASE={database};'
                           'Trusted_Connection=yes;')

cursor = conexaoBD.cursor()

In [4]:
notas = pd.read_excel(r"C:\\Users\\201077405\\Documents\\Projetos\\New_Sistema\\Cargas_Dados\\Carga_de_testes\\8800 Conferência 01.2024 - OK L6.xlsx")

In [5]:
notas.head(1)

,CONCAT,NUMERO,DATA_FISCAL,NF,ITEM,ITEM_NF,COD_PRODUTO,NCM,DESCRICAO,CHAVE_ACESSO,...,PRECO_LIQUIDO,PRECO_LIQUIDO_SEM_IMPOSTO,PAIS,MOVIMENTO,CATEGORIA_NF,MOEDA,Código para Filtro NF,NF L89,Fluxo,NF L6
0,4458830,44588,2022-12-01,7811,3,30,DTR0000446082,3402.90.19,DTR0000446082 - PREPARACAO PARA LIMPEZA,'35221288309620003254550010000078111074489889',...,665.61585,565.773473,CA,Entrada,NF-e Importação,BRL,7811DTR0000446082,NaN,FL06,NaN

In [ ]:

import pandas as pd
from sqlalchemy import create_engine

notas = pd.read_excel(r"C:\\Users\\201077405\\Documents\\Projetos\\New_Sistema\\Cargas_Dados\\Carga_de_testes\\8800 Conferência 01.2024 - OK L6.xlsx")

server= 'AAD-BRJ218XTJ9'
database='Bndes'


agora = ('DRIVER={SQL Server};'
            f'SERVER={server};'
            f'DATABASE={database};'
            # f'UID={username};'
            # f'PWD={password};'
            'Trusted_Connection=yes;'
        )

engine = create_engine(f'mssql+pyodbc:///?odbc_connect={agora}')

def carga():
    for index, linha  in notas.iterrows():
        cursor.execute("Insert into [dbo].[Notas_Fiscais02](CONCAT,NUMERO,DATA_FISCAL,NF,ITEM,ITEM_NF,COD_PRODUTO,NCM,DESCRICAO,\
                       CHAVE_ACESSO,CPF_CGC_PESSOA_FIS_JUR,RAZAO_SOCIAL_PESSOA_FIS_JUR,VALOR_CONTABIL,CST_ICMS,ALIQ_ICMS,ALIQ_IPI,\
                       ALIQ_PIS,ALIQ_COFINS,ALIQ_TOTAL,VALOR_CONTABIL_SEM_IMPOSTO,QUANTIDADE,UNIDADE_DE_MEDIDA,PRECO_LIQUIDO,\
                       PRECO_LIQUIDO_SEM_IMPOSTO,PAIS,MOVIMENTO,CATEGORIA_NF,MOEDA)\
                       values(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)",
                       linha.CONCAT,
                       linha.NUMERO,
                       linha.DATA_FISCAL,
                       linha.NF,
                       linha.ITEM,
                       linha.ITEM_NF,
                       linha.COD_PRODUTO,
                       linha.NCM,    
                       linha.DESCRICAO,
                       linha.CHAVE_ACESSO,
                       linha.CPF_CGC_PESSOA_FIS_JUR,
                       linha.RAZAO_SOCIAL_PESSOA_FIS_JUR,
                       linha.VALOR_CONTABIL,
                       linha.CST_ICMS,
                       linha.ALIQ_ICMS,
                       linha.ALIQ_IPI,
                       linha.ALIQ_PIS,
                       linha.ALIQ_COFINS,
                       linha.ALIQ_TOTAL,
                       linha.VALOR_CONTABIL_SEM_IMPOSTO,
                       linha.QUANTIDADE,
                       linha.UNIDADE_DE_MEDIDA,
                       linha.PRECO_LIQUIDO,
                       linha.PRECO_LIQUIDO_SEM_IMPOSTO,
                       linha.PAIS,
                       linha.MOVIMENTO,
                       linha.CATEGORIA_NF,
                       linha.MOEDA
                 

                       )
        cursor.commit()

carga()

query = '''   select 'Carga feita com sucesso !' '''

df = pd.read_sql_query(query,engine)
engine.dispose()
df.head()

In [7]:

import pandas as pd
from sqlalchemy import create_engine

lista_tec = pd.read_excel(r"C:\\Users\\201077405\\Documents\\Projetos\\New_Sistema\\Cargas_Dados\\Carga_de_testes\\BOM.xlsx")

In [8]:
lista_tec.head(3)

,Efetividade,Nivel_explosao,N_item,Componente,Descricao_componente,Qtd_componente,UM_basica,Tipo_de_suprimento,Fluxo_logistico
0,ML6001M1A,0,0,DTR4000141203,MSP L6 - CARRO M1A,0.0,PC,E,FV01
1,ML6001M1A,.1,0010,DTR4000142097,ESTÁGIO CEPF - M1A,1.0,PC,E,FF01
2,ML6001M1A,..2,0020,DTR4000215056,INST. CEILING SALAO M1/M2/M3,1.0,PC,E,FM01

In [15]:
import pandas as pd
from sqlalchemy import create_engine,values

lista_tec = pd.read_excel(r"C:\\Users\\201077405\\Documents\\Projetos\\New_Sistema\\Cargas_Dados\\Carga_de_testes\\BOM.xlsx")

server= 'AAD-BRJ218XTJ9'
database='Bndes'

agora = ('DRIVER={SQL Server};'
            f'SERVER={server};'
            f'DATABASE={database};'
            # f'UID={username};'
            # f'PWD={password};'
            'Trusted_Connection=yes;'
        )

engine = create_engine(f'mssql+pyodbc:///?odbc_connect={agora}')

def carga():
    for index, linha  in lista_tec.iterrows():
        cursor.execute("Insert into [Bndes].[dbo].[Tabela_BOM](Efetividade,Nivel_explosao,N_item,Componente,Descricao_componente,Qtd_componente,UM_basica,Fluxo_logistico)values(?,?,?,?,?,?,?,?)",
                       linha.Efetividade,
                       linha.Nivel_explosao,
                       linha.N_item,
                       linha.Componente,
                       linha.Descricao_componente,
                       linha.Qtd_componente,
                       linha.UM_basica,
                       linha.Fluxo_logistico,

                       )
        cursor.commit()

carga()

query = '''   select 'Carga feita com sucesso !' '''

df = pd.read_sql_query(query,engine)
engine.dispose()
df.head()

0  Carga feita com sucesso !

In [140]:
import pandas as pd
from sqlalchemy import create_engine

PdO = pd.read_excel(r"C:\\Users\\201077405\\Documents\\Projetos\\New_Sistema\\Cargas_Dados\\Carga_de_testes\\PEDIDO DE COMPRAS.xlsx")

In [142]:
PdO.head(1)

,Concat,Numero_de_Controle,Data_Fiscal,PO,Item,Item_NF,Cod_Produto,NCM,Descricao,Chave_Acesso,...,Categoria_NF,Moeda,Código para Filtro NF,NF L89,novos itens,NF L6,Unnamed: 32,Chave,PER,BI
0,PO,0,0,5600128232,10,10,AA00002441075,0,FAN UNIT DC60V-110V,0,...,0,BRL,NaN,NaN,NaN,NaN,NaN,5.600128e+14,NaN,NaN

In [9]:
import pandas as pd
from sqlalchemy import create_engine,values

PdO = pd.read_excel(r"C:\\Users\\201077405\\Documents\\Projetos\\New_Sistema\\Cargas_Dados\\Carga_de_testes\\PEDIDO DE COMPRAS.xlsx")

server= 'AAD-BRJ218XTJ9'
database='Bndes'

agora = ('DRIVER={SQL Server};'
            f'SERVER={server};'
            f'DATABASE={database};'
            # f'UID={username};'
            # f'PWD={password};'
            'Trusted_Connection=yes;'
        )

engine = create_engine(f'mssql+pyodbc:///?odbc_connect={agora}')

def carga():
    for index, linha  in PdO.iterrows():
        cursor.execute("Insert into [Bndes].[dbo].[Tabela_PO](Concat,Numero_de_Controle,Data_Fiscal,PO,Item,Item_NF,Cod_Produto,NCM,Descricao\
                       ,Chave_Acesso,CPF_CGC_Pessoa_Fis_Jur,Razao_social_Pessoa_Fis_Jur,Valor_Contabil_Unitario,CST_ICMS,Aliq_ICMS\
                       ,Aliq_IPI,Aliq_PIS,Aliq_COFINS,Aliq_Total,Valor_Contabil_Sem_Imposto,Quantidade,Unidade_de_Medida,Preco_Liquido_Unitario\
                       ,Preco_Liquido_Sem_Imposto,Pais,Movimento,Categoria_NF,Moeda)\
                       values(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)",
                       linha.Concat,
                       linha.Numero_de_Controle,
                       linha.Data_Fiscal,
                       linha.PO,
                       linha.Item,
                       linha.Item_NF,
                       linha.Cod_Produto,
                       linha.NCM,
                       linha.Descricao,
                       linha.Chave_Acesso,
                       linha.CPF_CGC_Pessoa_Fis_Jur,
                       linha.Razao_social_Pessoa_Fis_Jur,
                       linha.Valor_Contabil_Unitario,
                       linha.CST_ICMS,
                       linha.Aliq_ICMS,
                       linha.Aliq_IPI,
                       linha.Aliq_PIS,
                       linha.Aliq_COFINS,
                       linha.Aliq_Total,
                       linha.Valor_Contabil_Sem_Imposto,
                       linha.Quantidade,
                       linha.Unidade_de_Medida,
                       linha.Preco_Liquido_Unitario,
                       linha.Preco_Liquido_Sem_Imposto,
                       linha.Pais,
                       linha.Movimento,
                       linha.Categoria_NF,
                       linha.Moeda,              
                                                      
                       )
        cursor.commit()

carga()


query = '''   select 'Carga feita com sucesso !' '''

df = pd.read_sql_query(query,engine)

engine.dispose()
df.head()

0  Carga feita com sucesso !