In [1]:
import pandas as pd
import pyodbc

server ='AAD-BRJ218XTJ9'
database ='Bndes'

conexaoBD = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                           f'SERVER={server};'
                           f'DATABASE={database};'
                           'Trusted_Connection=yes;')

cursor = conexaoBD.cursor()

In [5]:
import pandas as pd
import pyodbc
from sqlalchemy import create_engine,values,VARCHAR,NUMERIC,INTEGER,DATE,DATETIME,String,text

server= 'AAD-BRJ218XTJ9'
database='Bndes'

agora = ('DRIVER={SQL Server};'
            f'SERVER={server};'
            f'DATABASE={database};'
            'Trusted_Connection=yes;'
        )

engine = create_engine(f'mssql+pyodbc:///?odbc_connect={agora}')

query= text("""  

SELECT TOP (10) [Identificação]
      ,[Concat]
      ,[Numero_de_Controle]
      ,[Data_Fiscal]
      ,[NF]
      ,[Item]
      ,[Item_NF]
      ,[Material]
      ,[NCM]
      ,[Descricao]
      ,[Chave_de_Acesso]
      ,[CPF_CGC_PF_PJ]
      ,[Razao_Social_da_Pessoal_PF_PJ]
      ,[Valor_Contabil]
      ,[Aliquota]
      ,[Valor_Contabil_Sem_Imposto]
      ,[Qtd_Entrada]
      ,[UnidadeDeMedida]
      ,[Preco_Liquido]
      ,[Preco_Liquido_Sem_Imposto]
      ,[Pais]
      ,[CST_ICMS]
      ,[Aliquota_ICMS]
      ,[Aliquota_IPI]
      ,[Aliquota_PIS]
      ,[Aliquota_COFINS]
      ,[Movimento]
      ,[Categoria_NF]
      ,[Qtd_Restante]
      ,[Valor_Contabil_Restante]
      ,[Liquidado]
      ,[SSMA_TimeStamp]
  FROM [BNDES_Report].[dbo].[tbl_Notas_Fiscais]

  """)

df = pd.read_sql_query(query,engine)
cursor = engine.connect()
cursor.execute(query)
cursor.commit()
cursor.close()


df.head()

,Identificação,Concat,Numero_de_Controle,Data_Fiscal,NF,Item,Item_NF,Material,NCM,Descricao,...,Aliquota_ICMS,Aliquota_IPI,Aliquota_PIS,Aliquota_COFINS,Movimento,Categoria_NF,Qtd_Restante,Valor_Contabil_Restante,Liquidado,SSMA_TimeStamp
0,219740,12568020,125680,2024-01-26 00:00:00,000001177,2,20,AA00002145924,8607.99.00,S M BASE,...,0.0,0.0,0.0,0.0,Entrada,NF-e Entrada (MIRO),0.0,0.00,True,b'\x00\x00\x00\x00\x00\r/:'
1,219741,12568030,125680,2024-01-26 00:00:00,000001177,3,30,AA00002145924,8607.99.00,S M BASE,...,0.0,0.0,0.0,0.0,Entrada,NF-e Entrada (MIRO),0.0,0.00,True,b'\x00\x00\x00\x00\x00\r/='
2,219742,12595710,125957,2024-01-26 00:00:00,000001178,1,10,AA00002281767,8607.99.00,TUBO DE COOPER 1 POLEGADA X 1 54MM,...,0.0,0.0,0.0,0.0,Entrada,NF-e Entrada (MIRO),0.0,0.00,True,b'\x00\x00\x00\x00\x00\x134 '
3,219743,12595810,125958,2024-01-26 00:00:00,000001179,1,10,AA00002171705,7616.99.00,ESCADA,...,0.0,0.0,0.0,0.0,Entrada,NF-e Entrada (MIRO),15.0,25205.55,False,b'\x00\x00\x00\x00\x00\x07\xdc\x8b'
4,219744,12595910,125959,2024-01-26 00:00:00,000001180,1,10,AA00002181993,8536.90.90,MONITOR DE SALAO DUPLO 18 5,...,0.0,0.0,0.0,0.0,Entrada,NF-e Entrada (MIRO),32.0,249278.72,False,b'\x00\x00\x00\x00\x00\x07\xdc\x8c'

In [6]:
import pandas as pd
import pyodbc
from sqlalchemy import create_engine,values,VARCHAR,NUMERIC,INTEGER,DATE,DATETIME,String,text

server= 'AAD-BRJ218XTJ9'
database='Bndes'

agora = ('DRIVER={SQL Server};'
            f'SERVER={server};'
            f'DATABASE={database};'
            'Trusted_Connection=yes;'
        )

engine = create_engine(f'mssql+pyodbc:///?odbc_connect={agora}')

query= text("""  

SELECT TOP (1000) [ID]
      ,[Material]
      ,[Descricao_Material]
      ,[UM_NF]
      ,[QTD_NF]
      ,[UM_Material]
      ,[QTD_Material]
      ,[SSMA_TimeStamp]
  FROM [BNDES_Report].[dbo].[tbl_Conversao_de_Unidade]

  """)

df = pd.read_sql_query(query,engine)
cursor = engine.connect()
cursor.execute(query)
cursor.commit()
cursor.close()


df.head()

,ID,Material,Descricao_Material,UM_NF,QTD_NF,UM_Material,QTD_Material,SSMA_TimeStamp
0,703,DTR0000449484,NA,PC,1.0,G,473.0,b'\x00\x00\x00\x00\x00\x00\x08t'
1,704,DTR0000081735,NA,PC,1.0,G,142.0,b'\x00\x00\x00\x00\x00\x00\x08u'
2,705,DTR0009247905,NA,PC,1.0,G,142.0,b'\x00\x00\x00\x00\x00\x00\x08v'
3,706,DTR0000450571,NA,UN,1.0,G,3600.0,b'\x00\x00\x00\x00\x00\x00\x08w'
4,707,DTR0000090147,PASTA LUBRIFICANTE MOLYKOTE 1000,UN,1.0,KG,1.0,b'\x00\x00\x00\x00\x00\x00\x08x'

In [7]:
import pandas as pd
import pyodbc
from sqlalchemy import create_engine,values,VARCHAR,NUMERIC,INTEGER,DATE,DATETIME,String,text

server= 'AAD-BRJ218XTJ9'
database='Bndes'

agora = ('DRIVER={SQL Server};'
            f'SERVER={server};'
            f'DATABASE={database};'
            'Trusted_Connection=yes;'
        )

engine = create_engine(f'mssql+pyodbc:///?odbc_connect={agora}')

query= text("""  

SELECT TOP (1000) [ID]
      ,[Efetividade]
      ,[Componente]
      ,[Descricao_Componente]
      ,[Qtd_Componente]
      ,[UM_Basica]
      ,[Item_Lista_Tecinica]
      ,[Concat]
      ,[Numero_do_Documento]
      ,[Data_Fiscal]
      ,[NF]
      ,[Item]
      ,[Item_NF]
      ,[NCM]
      ,[Chave_de_Acesso]
      ,[CPF_CGC_Pessoa_PF_PJ]
      ,[Razao_Social_da_Pessoa_PF_PJ]
      ,[Valor_Contabil]
      ,[Aliquota]
      ,[Valor_Contabil_Sem_Imposto]
      ,[Qtd_NF]
      ,[Unidade_de_Medida]
      ,[Preco_Liquido]
      ,[Preco_Liquido_Sem_Imposto]
      ,[Pais]
      ,[CST_ICMS]
      ,[Aliquota_ICMS]
      ,[Aliquota_IPI]
      ,[Aliquota_PIS]
      ,[Aliquota_COFINS]
      ,[Movimento]
      ,[Categoria_NF]
      ,[Liquidado]
      ,[MarketCode]
      ,[Qtd_Consumida]
      ,[Valor_Contabil_Consumido]
      ,[Valor_Contabil_Consumido_Sem_Imposto]
      ,[SSMA_TimeStamp]
  FROM [BNDES_Report].[dbo].[tbl_Historico_de_Liquidez]

  """)

df = pd.read_sql_query(query,engine)
cursor = engine.connect()
cursor.execute(query)
cursor.commit()
cursor.close()


df.head()

,ID,Efetividade,Componente,Descricao_Componente,Qtd_Componente,UM_Basica,Item_Lista_Tecinica,Concat,Numero_do_Documento,Data_Fiscal,...,Aliquota_PIS,Aliquota_COFINS,Movimento,Categoria_NF,Liquidado,MarketCode,Qtd_Consumida,Valor_Contabil_Consumido,Valor_Contabil_Consumido_Sem_Imposto,SSMA_TimeStamp
0,90500,L89001MCA,AA00002182473,MONTAGEM DO PEGA MAO,2.0,PC,0110,None,0.0,None,...,0.0,0.0,None,None,False,None,0.0,0.0,0.0,b'\x00\x00\x00\x00\x00\r$k'
1,90501,L89001MCA,AA00002182473,MONTAGEM DO PEGA MAO,2.0,PC,0110,None,0.0,None,...,0.0,0.0,None,None,False,None,0.0,0.0,0.0,b'\x00\x00\x00\x00\x00\r$n'
2,90502,L89001MCA,AA00002182473,MONTAGEM DO PEGA MAO,2.0,PC,0110,None,0.0,None,...,0.0,0.0,None,None,False,None,0.0,0.0,0.0,b'\x00\x00\x00\x00\x00\r$q'
3,90503,L89001MCA,AA00002182473,MONTAGEM DO PEGA MAO,2.0,PC,0110,None,0.0,None,...,0.0,0.0,None,None,False,None,0.0,0.0,0.0,b'\x00\x00\x00\x00\x00\r$t'
4,90504,L89001MCA,AA00002182473,MONTAGEM DO PEGA MAO,2.0,PC,0110,None,0.0,None,...,0.0,0.0,None,None,False,None,0.0,0.0,0.0,b'\x00\x00\x00\x00\x00\r$w'

In [8]:
import pandas as pd
import pyodbc
from sqlalchemy import create_engine,values,VARCHAR,NUMERIC,INTEGER,DATE,DATETIME,String,text

server= 'AAD-BRJ218XTJ9'
database='Bndes'

agora = ('DRIVER={SQL Server};'
            f'SERVER={server};'
            f'DATABASE={database};'
            'Trusted_Connection=yes;'
        )

engine = create_engine(f'mssql+pyodbc:///?odbc_connect={agora}')

query= text("""  

SELECT TOP (1000) [ID]
      ,[Efetividade]
      ,[Nivel_Explosao]
      ,[Numero_Do_Item]
      ,[Componente]
      ,[Desc_Componente]
      ,[QtdComponente]
      ,[Unidade_De_Medida]
      ,[Tipo_de_Suprimento]
      ,[Fluxo_Logistico]
      ,[Processado]
      ,[SSMA_TimeStamp]
  FROM [BNDES_Report].[dbo].[tbl_Lista_de_Materiais]

  """)

df = pd.read_sql_query(query,engine)
cursor = engine.connect()
cursor.execute(query)
cursor.commit()
cursor.close()


df.head()

,ID,Efetividade,Nivel_Explosao,Numero_Do_Item,Componente,Desc_Componente,QtdComponente,Unidade_De_Medida,Tipo_de_Suprimento,Fluxo_Logistico,Processado,SSMA_TimeStamp
0,1,L89001MCA,....4,0010,DTR3000074136,KIT TERMOACUSTICA ESTRADO MC (WS20),1.00,PC,F,FL02,True,b'\x00\x00\x00\x00\x00\x0c\x01\xbf'
1,2,L89001MCA,......6,0001,DTR0000339545,"BOB INOX 301LN 2B DLT .125""X24.00""",0.16,M,F,FL05,True,b'\x00\x00\x00\x00\x00\x0c\x01\xc2'
2,3,L89001MCA,.....5,0002,DTR0000388811,REBITE ROSCADO FHO M4 1-3,24.00,PC,F,FL06,True,b'\x00\x00\x00\x00\x00\x0c\x01\xc5'
3,4,L89001MCA,.....5,0003,DTR0000472992,ENCAIXE-C 28X14X2 L80,2.00,PC,F,FL04,True,b'\x00\x00\x00\x00\x00\x0c\x01\xc8'
4,5,L89001MCA,......6,0001,DTR0000339545,"BOB INOX 301LN 2B DLT .125""X24.00""",0.03,M,F,FL05,True,b'\x00\x00\x00\x00\x00\x0c\x01\xcb'

In [9]:
import pandas as pd
import pyodbc
from sqlalchemy import create_engine,values,VARCHAR,NUMERIC,INTEGER,DATE,DATETIME,String,text

server= 'AAD-BRJ218XTJ9'
database='Bndes'

agora = ('DRIVER={SQL Server};'
            f'SERVER={server};'
            f'DATABASE={database};'
            'Trusted_Connection=yes;'
        )

engine = create_engine(f'mssql+pyodbc:///?odbc_connect={agora}')

query= text("""  

SELECT TOP (1000) [ID]
      ,[DT]
      ,[Menssagem]
      ,[Objeto]
      ,[SSMA_TimeStamp]
  FROM [BNDES_Report].[dbo].[tbl_Logs]

  """)

df = pd.read_sql_query(query,engine)
cursor = engine.connect()
cursor.execute(query)
cursor.commit()
cursor.close()


df.head()

,ID,DT,Menssagem,Objeto,SSMA_TimeStamp
0,333,2024-04-19 17:21:34,O objeto não possui correspondência na tabela ...,DTR0000356411,b'\x00\x00\x00\x00\x00\x0c\xc1\x8d'
1,334,2024-04-19 17:26:48,O objeto não possui correspondência na tabela ...,DTR0000356411,b'\x00\x00\x00\x00\x00\x0c\xf24'
2,335,2024-04-19 17:26:55,O objeto não possui correspondência na tabela ...,DTR0000356411,b'\x00\x00\x00\x00\x00\x0c\xf2\xe3'
3,336,2024-04-19 17:27:02,O objeto não possui correspondência na tabela ...,DTR0000356411,b'\x00\x00\x00\x00\x00\x0c\xf3\x84'
4,337,2024-04-19 17:27:48,O objeto não possui correspondência na tabela ...,DTR0000356411,b'\x00\x00\x00\x00\x00\x0c\xfa+'

In [11]:
import pandas as pd
import pyodbc
from sqlalchemy import create_engine,values,VARCHAR,NUMERIC,INTEGER,DATE,DATETIME,String,text

server= 'AAD-BRJ218XTJ9'
database='Bndes'

agora = ('DRIVER={SQL Server};'
            f'SERVER={server};'
            f'DATABASE={database};'
            'Trusted_Connection=yes;'
        )

engine = create_engine(f'mssql+pyodbc:///?odbc_connect={agora}')

query= text("""  

 SELECT TOP (1000) [ID]
      ,[Fornecedor]
      ,[MarketCode]
      ,[SSMA_TimeStamp]
  FROM [BNDES_Report].[dbo].[tbl_SubSys]

  """)

df = pd.read_sql_query(query,engine)
cursor = engine.connect()
cursor.execute(query)
cursor.commit()
cursor.close()


df.head()

,ID,Fornecedor,MarketCode,SSMA_TimeStamp
0,7838,AMCO SAS,B370 - Elastomers,b'\x00\x00\x00\x00\x00\x01\xc2\x15'
1,7839,CERTIFER,N365 - Independent Safety Assessment (Notify b...,b'\x00\x00\x00\x00\x00\x01\xc2\x16'
2,7840,ESPA,"B470 - Pneumatic, hydraulic, fluid equipments",b'\x00\x00\x00\x00\x00\x01\xc2\x17'
3,7841,FAIVELEY TRANSPORT TOURS,A000 - Doors,b'\x00\x00\x00\x00\x00\x01\xc2\x18'
4,7842,FAIVELEY TRANSPORT VAD,A100 - Brakes,b'\x00\x00\x00\x00\x00\x01\xc2\x19'

In [4]:
import pandas as pd
import pyodbc
from sqlalchemy import create_engine,values,VARCHAR,NUMERIC,INTEGER,DATE,DATETIME,String,text

server= 'AAD-BRJ218XTJ9'
database='BNDES_Report'

agora = ('DRIVER={SQL Server};'
            f'SERVER={server};'
            f'DATABASE={database};'
            'Trusted_Connection=yes;'
        )

engine = create_engine(f'mssql+pyodbc:///?odbc_connect={agora}')


query= text("""  


 exec regra_conversao 'Carga log feita com sucesso'

  """)



df = pd.read_sql_query(query,engine)
cursor = engine.connect()
cursor.execute(query)
cursor.commit()
cursor.close()


df.head()

0  Carga log feita com sucesso